
body {
  
  height: 100vh;
  background-image: url(C:\Users\jeezy\Desktop\react\bud-bag-review-react-site\src\assets\images\smoke.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
}

.logo-img {
  height: 173px;
  width: 195px;
  border-radius: 50%;
}

